#staticBackdrop .modal-body textarea {
    width: 100%; 
    height: 200px; 
    border: 1px solid #3b3b3b71; 
    resize: none; 
    padding: 10px; 
    font-size: 1rem; 
    background-color: #f8f9fa;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
    border-radius: .5rem;
}

body.modal-open {
    background-color: rgba(0, 0, 0, 0.1) 
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.1); 
}
.modal{
    background-color: transparent;
   
}
.modal-dialog{
    background-color: var(--background-color);
    border-radius: .5rem;
    border: none;
}
.modal-footer{
    background-color: var(--background-color);
}

.modal-icon-congrats {
    font-size: 8rem;
    color: #b0b930;
  }
  .modal-body-congrats button {
    background-color: #a51010;
    color: #f8f8f8;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;
    border: 2px solid #4d0707;
    border-radius: 2rem;
    transition: 0.5s ease;
  }
  .modal-body-congrats button:hover {
    border-color: #a51010;
    background-color: transparent;
    color: #a51010;
  }
  .modal-icon-wrong {
    font-size: 8rem;
    color: rgb(5, 2, 44);
  }
  .modal-body-congrats {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }