.main-novidades{
padding: 0rem  2rem ;
  margin: auto;
  width: 90%;
}
.cards{
  padding: 1rem;
  margin: auto;
}

.novidades-wrapper {
  display: flex; /* Para alinhar os itens em uma linha */
  justify-content: space-between; /* Distribuir o espaço entre os itens */
  flex-wrap: wrap;
  gap: 1rem; /* Espaço entre os contêineres */
  margin: auto;
  width: auto;
}

.novidade-card {
  background-color: transparent;
  border-radius: 25px;
  width: 14rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 1.2rem;
  margin-right: 3.5rem;
  border: var(--border);
  transition: .5s ease;
}
.novidade-card:hover{
  background-color: #fff;
}
.novidade-content{
  background-color: transparent;
  padding: .4rem .3rem;
}
.novidade-content img{
 display: flex;
 align-items: center;
 justify-content: center;
  width: 10rem;
  height: auto;
  border-radius: .8rem;
background-color: transparent;
  margin: auto;
  padding: .5rem;
}

.novidade-btn {
  background-color: var(--cor-destaque);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  transition: .5s ease;
}
.novidade-btn:hover{
  border: 2px solid var(--cor-destaque);
  background-color: transparent;
  color: var(--cor-destaque);
  font-weight: 700;
}


.post-info-novidades{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.post-header-novidades {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.posts-novidades {

  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 5rem;
}
.post-text-novidades{
  width: 80%;
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-left: 5.5rem;
}
.cards{
  border-bottom: var(--border);
}